h1 {
				color: navy;
				text-align: center;
				margin: 25px;
			}
			body {
				margin:25px;
			}
			#yeah {
text-align: center;
font-family: 'Catamaran', sans-serif;
}
#names {
	margin: 50px;
	font-family: 'Catamaran', sans-serif;
}

h3 {	
background: rgb(43,67,221);
font-family: 'Catamaran', sans-serif;
}
p {
	font-family: 'Catamaran', sans-serif;
	background: white;
	text-align: center;
}
.center {
	  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}
#grenade {
text-align: center;
}

#people{
	background:rgb(255, 21, 0);
}

body {
	background:;
	color: navy;
}

#sohcahtoa {

}

img{
  border-radius: 50px;
  background-position: left top;
  background-repeat: repeat;
  padding: 20px; 
  width: 200px;
  height: 150px;
  box-shadow: 1px 1px 1px #ccc;
  -moz-box-shadow: 10px 10px 5px #ccc;
			-webkit-box-shadow: 10px 10px 5px #ccc;
			-khtml-box-shadow: 10px 10px 5px #ccc;  
		}


#help1 {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color:pink;
  margin-left:auto; 
  margin-right:auto;
  text-align: center;
}
#help2 {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color:red;
    margin-left:auto; 
  margin-right:auto;
   text-align: center;
}
#help3 {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color:pink;
    margin-left:auto; 
  margin-right:auto;
   text-align: center;
}
#help4 {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color:red;
    margin-left:auto; 
  margin-right:auto;
   text-align: center;

}

nav {
     background-color: #333;
  overflow: hidden;
  float: middle;
  color: pink;
  text-align: center;
  padding: 4px 4px;
  text-decoration: none;
  font-size: 17px;
  background-color: pink;
  color: black;
  background-color: navy;
  color: white;
    
}

#grenade {
	overflow: auto;
	border: solid 5px pink;
	background: white;
}
#funnybone {
	overflow: auto;
	border: solid 5px pink;
	background:white;
}
#leslie {
	overflow:auto;
	border: solid 5px pink;
	background: white;
 } 
 
 #ire {
 	overflow: auto;
 	border: solid 5px pink;	
 	background: white;
 }
 .leslie {
 	margin:25px;
 	padding: 25px;
 }

.funnybone {
	margin:25px;
	padding:25px;
}

.grenade {
	margin:25px;
	padding: 25px;


}
.ire {
	margin: 25px;
	padding: 25px;
}
#grenadeimage {
	float: left;
	margin: 25px;
	width: 25px;
}

#leslieimage {
	float: left;
	margin:25px;
	width:25px;


}
#funnyboneimage {
	float: left;
	margin:25px;
	width: 25px
}
#ireimage {
	float: left;
	margin: 25px;
	width: 25px;
}

#hole-page {
overflow: auto;
border: solid red 30px;
background: white;
}

h1 {
text-shadow: 2px 2px white;
}

.brandon {
  float: center;
  margin: left;
  margin: right;
}
@media only screen and 
(max-width:600px) {
  #img-float {
    float: left;
    margin: 30px;
    width:300px;
  }
  nav {
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 40px;
  }

#div-float {
overflow: auto;

 overflow: hidden;
  float: middle;
  text-align: center;
  padding: 5px 5px;
  text-decoration: none;
  font-size: 20px;
}
}


/*Mobile rule portrait mode*/
@media only screen
and (max-width: 320px) {

body {
margin: 30px;
 
}
nav {
  overflow: hidden;
  float: middle;
  text-align: center;
  padding: 5px 5px;
  text-decoration: none;
  font-size: 20px;
 
}

}
/*Mobile in lanscape mode*/
@media only screen
and (min-width: 321px)
and (max-width: 480px) {

}
/*Tablets*/
@media only screen
and (min-width: 768px)
and (max-width: 1024px){
nav {
  text-align: center;
  padding: 30px 30px;
  text-decoration: none;
  font-size: 30px;
}
}
/*Desktops and latop computers*/
@media only screen
and (min-width: 1224px){
  nav {
 text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 20px;
}
}

a:hover {
  background-color: purple;
  color: white;
  padding: 20px;
  border: white 5px solid;
}

  a {
    background: navy;
 text-decoration: none;
    color: white;
    border: white 1px solid;
  }


